body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}


.Bg-main {
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bg-login {
    background: url('../assets/BG.png'); 
}

.Login-block {
    background: url('../assets/Login_Block.png');
    background-position: center;
    width: 500px;
    height: 500px;
    flex: 1;
    position: absolute;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Register-block {
    background: url('../assets/Register-Block.png');
    background-position: center;
    width: 410px;
    height: 627px;
    flex: 1;
    position: absolute;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Bg-register{
    background: url('../assets/BG-register.png');
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bg-recover{
    background: url('../assets/BG-recover.png');
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-block input, .Register-block input {
    display: block;
    background: url('../assets/Username.png');
    border: none;
    padding: 0.5em;
    border-radius: 5px;
}

label span {
    margin-left: 5px;
}

.Register-btn {
    width: 350px;
    height: 51px;
    background: url('../assets/Register_Btn.png');
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: 52px;
    cursor: pointer;
}

.Login-btn {
    width: 350px;
    height: 51px;
    background: url('../assets/Login_Btn.png');
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: 52px;
    cursor: pointer;
}

.Recover-btn {
    width: 350px;
    height: 51px;
    background: url('../assets/Recover_Btn.png');
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin-top: 52px;
    cursor: pointer;
}

.Matex-form-footer {
    width: 350px;
    height: 122px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.already-have{
    background: url('../assets/Already_have_an_account.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 180px;
    display: block;
}

.login-anchor {
    display: block;
    color: #333333;
    text-decoration: none;
    font-weight: 600;
}



.u-hide {
    display: none;
}


.u-flex-horizontal {
    display: flex;
    align-items: center;
}

.u-margin-top-md {
    margin-top: 24px;
}

.u-margin-top-sm {
    margin-top: 10px;
}
span.error {
    display: inline-block;
    font-size: 12px;
    color: red;
    margin-left: 10px;
}
span.success {
    display: inline-block;
    font-size: 18px;
    color: green;
    position: absolute;
    bottom: 10px;
}